nav {
    background-color: #73B7E9;
    border-top: 3px solid #fff;
    grid-column: 1 / 2;
    height: 100vh;
    padding-top: 2%;
    width: 100%;
}

/* h1 {
    color: #fff;
    padding-bottom: 50%;
    font-size: 4vh;
} */

.unselected {
    background-color: #73B7E9;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 4vh;
    margin: 15% 0 0 5%;
    width: 80%;
}

.selected {
    -webkit-box-shadow: inset 4px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 4px 4px 5px 0px rgba(0,0,0,0.75);
    background-color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: inset 4px 4px 5px 0px rgba(0,0,0,0.75);
    color: #AAD831;
    cursor: pointer;
    font-size: 4vh;
    margin: 15% 0 0 5%;
    width: 80%;
}

button:hover {
    background-color: #fff;
    color: #73B7E9;
}

@media screen and (max-width: 900px) {
    nav {
        background-color: #73B7E9;
        border-top: 3px solid #fff;
        grid-column: 1 / 2;
        height: 100vh;
        padding-top: 2%;
        width: 100%;
    }

    .unselected,
    .selected {
        font-size: 2vh;
        margin-top: 50%;
    }


}
