* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  background: #AAD831;
  display: grid;
  grid-template-columns: repeat(5, 1fr) ;
  height: 110vh;
  text-align: center;
  width: 100%;
}
