
.search-form {
    grid-column: 1 / 6;
    /* grid-row: 1; */
    height: %;
    background-color: lightblue;
}

h1 {
    display: inline-block;
    padding: 0;
    font-size: 5vh;
    margin: 1% 20% 1% 1%;
}


.search-form input {
    /* height: 3vh; */
    font-size: 3vh;
    display: inline-block;
    margin: 1%;
    width: 25%;
    padding: .5%;
}

.search-form button {
    border-radius: 5px;
    background-color: #141527;
    /* height: 3vh; */
    font-size: 3vh;
    display: inline-block;
    margin: 1%;
    width: 15%;
    padding: .5%;
}