.search-form {
    background-color: #73B7E9;
    grid-column: 1 / 6;
}

h1 {
    color: #fff;
    display: inline-block;
    font-size: 5vh;
    margin: 1% 20% 1% 1%;
    padding: 0;
}

.search-form input {
    display: inline-block;
    font-size: 3vh;
    margin: 1%;
    padding: .5%;
    width: 25%;
}

.search-form button {
    background-color: #E27542;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 3vh;
    margin: 1%;
    padding: .5%;
    width: 15%;
}

@media screen and (max-width: 900px) {
    h1 {
        display: block;
        text-align: center;
    }
    .search-form input {
        display: inline-block;
        font-size: 3vh;
        margin: 1%;
        padding: .5%;
        width: 50%;
    }

    .search-form button {
        display: inline-block;
        font-size: 3vh;
        margin: 1%;
        padding: .5%;
        width: 20%;
    }


}
