article {
    background-color: #FFF;
    padding: 2%;
    border-radius: 10px;
    max-height: 100%; 
    -webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
}

img {
    width: 40%;
    margin: 2%;
}

article h3 {
    padding: 2%;
    border-bottom: 1px solid black;
}

p {
    padding: 3%;
}

a {
    padding: %;
    font-weight: bold;
    color: #E27542;
}