article {
    -webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
    max-height: 100%;
    padding: 2%;
}

img {
    margin: 2%;
    width: 40%;
}

article h3 {
    border-bottom: 1px solid black;
    padding: 2%;
}

p {
    padding: 3%;
}

a {
    color: #E27542;
    font-weight: bold;
    padding: %;
}
